body{
    background-color:rgb(114, 236, 209);

}
hr{
    background-color: rgb(0, 147, 245);
    border-style: double;
    height: 10px;
    width:1120px;
}
img{
    height: 150px;
}
h1{
    color:rgb(248, 191, 4);

}
h3{
    color:rgb(255, 6, 243);

}
table{
    border-top: darkblue;
    border: rgb(47, 1, 255);
    line-height: 80px;
    width: 1120px;
}
h2{
    color: rgb(255, 0, 0);
}